@import "../../App.scss";

.extended-card {
    width: 100vw;
    height: auto;
    max-height: 80vh;
    border-radius: 8px;
    .ext-card-header {
        width: calc(100vw - 6px);
        height: 10vh;
        border-radius: inherit;
        text-align: center;
        line-height: 10vh;
        font-size: 2rem;
    }
    .ext-card-image {
        width: 100vw;
        margin: 0 auto;
        display: block;
        img {
            width: 80vw;
            margin: 10vh 10vw;
        }
    }
}
@media only screen and (max-width: 500px) {
    .extended-card {
        .ext-card-image {
            img {
                width: 100vw;
                margin: 5vh 0vw;
            }
        }
    }
}