@import "../../App.scss";

.list-view-options {
    width: 100%;
    border-radius: 8px;
    height: 50px;
    background: $white;
    .option-header {
        width: 50%;
        height: 50px;
        line-height: 50px;
        color: $black;
        font-size: 0.75rem;
        text-transform: uppercase;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        transition: 0.3s;
        &:hover {
            cursor: pointer;
        }
        &.selected {
            &:first-child {
                border-bottom-left-radius: 8px;
                border-top-left-radius: 8px;
            }
            &:last-child {
                border-bottom-right-radius: 8px;
                border-top-right-radius: 8px;
            }
            background: $main-blue;
            color: $white;
            -webkit-box-shadow: inset 0px 0px 6px 1px rgba(47, 51, 56, 1);
            -moz-box-shadow: inset 0px 0px 6px 1px rgba(47, 51, 56, 1);
            box-shadow: inset 0px 0px 6px 1px rgba(47, 51, 56, 1);
        }
    }
}
.store-filter {
    width: 100%;
    margin: 20px 0;
    transition: 0.5s;
    background: $white;
    color: $main-blue;
    border-radius: 8px;
    &:focus {
        outline: none;
        border-color: $secondary-blue;
    }
}
.view-list-message {
    width: 100%;
    padding: 5% 0;
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;
    color: $black;
}
// .list-headers {
//     width: 75%;
//     background: $white;
//     color: $main-blue;
//     margin: 0 12.5%;
//     display: inline-flex;
//     .list-header-col {
//         width: 33.33%;
//         padding: 0 5px;
//         overflow: scroll;
//         text-transform: capitalize;
//         font-size: 0.8rem;
//         text-align: center;
//         &:nth-child(2n) {
//             text-align: center;
//             width: 33.34%;
//         }
//         .sub-head {
//             display: inline-flex;
//             margin-top: 0;
//             width: 50%;
//             text-align: center;
//         }
//     }
//     @media only screen and(max-width: 450px) {
//         width:100%;
//         margin: 0 auto;
//     }
// }
