@import "../../App.scss";

.list-view-options {
    width: 100%;
    border-radius: 8px;
    height: 4rem;
    background: $white;
    color: $black;
    .option-header {
        width: 50%;
        height: 4rem;
        line-height: 4rem;
        font-size: 0.75rem;
        text-transform: uppercase;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        transition: 0.3s;
        &:hover {
            cursor: pointer;
        }
        &.selected {
            &:first-child {
                border-bottom-left-radius: 8px;
                border-top-left-radius: 8px;
            }
            &:last-child {
                border-bottom-right-radius: 8px;
                border-top-right-radius: 8px;
            }
            background: $main-blue;
            color: $white;
            -webkit-box-shadow: inset 0px 0px 6px 1px rgba(47, 51, 56, 1);
            -moz-box-shadow: inset 0px 0px 6px 1px rgba(47, 51, 56, 1);
            box-shadow: inset 0px 0px 6px 1px rgba(47, 51, 56, 1);
        }
    }
}
.store-filter {
    width: 100%;
    margin: 20px 0;
    transition: 0.3s;
    background: $white;
    color: $main-blue;
    border-radius: 8px;
    &:focus {
        outline: none;
        border-color: $secondary-blue;
    }
}
.view-list-message {
    width: 100%;
    padding: 5% 0;
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;
    color: $black;
}
.prev-list-search {
    width: 100%;
    margin-bottom: 5%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    .form-input {
        width: 60%;
        margin: 3.7% 2.5% 0 2.5%;
        @include form-input;
    }
}
