@import "../../App.scss";

.settings {
  @include page-defaults;
  overflow: scroll;
  color: $black;
  .setting-headers {
    margin: 10% auto 0 auto;
    position: fixed;
    top: 10%;
    height: auto;
    width: 20%;
    border-radius: 8px;
    margin-left: 15%;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
    font-size: 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    .setting-tab {
      height: 100px;
      background: $white;
      transition: 0.3s;
      &:first-child {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
      }
      &:last-child {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
        border-bottom: none;
      }
      &:hover {
        cursor: pointer;
        background: $main-blue;
        color: $white;
      }
      &.selected {
        background: $main-blue;
        color: $white;
        -webkit-box-shadow: inset 0px 0px 5px 2px #4577a9;
        -moz-box-shadow: inset 0px 0px 5px 2px #4577a9;
        box-shadow: inset 0px 0px 5px 2px #4577a9;
      }
    }
  }
  .setting-content {
    margin: 10% auto 0 auto;
    position: fixed;
    top: 10%;
    height: auto;
    width: 47.5%;
    border-radius: 8px;
    margin-left: 37.5%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    .edit-header {
      height: 50px;
      line-height: 50px;
      text-align: center;
      text-transform: uppercase;
      border-radius: inherit;
      &:hover {
        cursor: pointer;
        color: $white;
        background: $main-blue;
      }
      &.err {
        color: $red;
      }
    }
    .settings-info,
    .settings-connections {
      height: auto;
      // min-height: 50vh;
      // overflow: scroll;
      .info-name {
        border-bottom: 3px solid $main-blue;
        text-align: left;
        padding: 5%;
        width: 90%;
        height: 62.5px;
        line-height: 16px;
        overflow: visible;
        text-overflow: ellipsis;
        &:first-child {
          border-top-left-radius: inherit;
          border-top-right-radius: inherit;
        }
        &:last-child {
          border-bottom-left-radius: inherit;
          border-bottom-right-radius: inherit;
          border-bottom: none;
        }
        &:hover {
          cursor: pointer;
        }
      }
      .form-input {
        width: 80%;
        margin: 10px 10%;
        @include form-input;
      }
      .connect-header {
        width: 100%;
        height: auto;
        display: inline-block;
        .connect-half {
          color: $black;
          background: $white;
          transition: 0.3s;
          width: 50%;
          float: left;
          height: 100px;
          line-height: 100px;
          text-align: center;
          &:first-child {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
          }
          &:last-child {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
          }
          &:hover {
            color: $white;
            background: $main-blue;
          }
          &.selected {
            background: $main-blue;
            color: $white;
            -webkit-box-shadow: inset 0px 0px 5px 2px #4577a9;
            -moz-box-shadow: inset 0px 0px 5px 2px #4577a9;
            box-shadow: inset 0px 0px 5px 2px #4577a9;
          }
        }
      }
      .connect-users-section {
        margin-top: 50px;
        width: 100%;
        height: auto;
        color: $black;
        background: $white;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        .connect-users-row {
          width: 100%;
          min-height: 50px;
          height: auto;
          border-bottom: 1px solid $secondary-blue;
          text-align: center;
          &:last-child {
            border-bottom: none;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
          }
          .connect-user-name {
            width: 50%;
            float: left;
            line-height: 50px;
            text-align: center;
            text-transform: uppercase;
            text-overflow: ellipsis;
          }
          .connect-user-options {
            width: 50%;
            float: left;
            .option-button,
            .option-button-double {
              float: left;
              height: 40px;
              text-align: center;
              margin: 0 auto;
            }
            .option-button-double {
              width: 66%;
              text-overflow: ellipsis;
              .time-difference {
                line-height: 20px;
                text-align: center;
                overflow: scroll;
              }
            }
            .option-button {
              width: 33%;
              text-overflow: ellipsis;
              .send-list,
              .view-list,
              .delete-user {
                height: 100%;
                width: 40px;
                display: inline-block;
                margin-top: 4px;
                border-radius: 50%;
                text-align: center;
                transition: 0.3s;
                &:hover {
                  cursor: pointer;
                }
                .icon {
                  display: inline-block;
                  padding-top: 10px;
                  height: 20px;
                  width: 20px;
                  fill: $white;
                }
              }
              .option-tooltip {
                visibility: hidden;
                text-transform: uppercase;
                color: white;
                background: rgb(129, 143, 156);
                text-align: center;
                border-radius: 8px;
                padding: 5px;
                width: 70px;
                height: auto;
                position: absolute;
                z-index: 3;
              }
              &:hover .option-tooltip {
                transition-delay: 0.5s;
                visibility: visible;
                @include shadow;
              }
              .send-list {
                background: rgb(88, 210, 88);
                &:hover {
                  background: $green;
                }
              }
              .view-list {
                background: rgb(132, 184, 240);
                &:hover {
                  background: rgb(29, 89, 154);
                }
              }
              .delete-user {
                background: rgb(228, 87, 87);
                &:hover {
                  background: $red;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .settings {
    .setting-headers {
        margin-left: 0;
        line-height: 25vh;
        font-size: 1rem;
        width: 30%;
        .setting-tab {
            height: 25vh;
        }
    }
    .setting-content {
        margin-left: 33%;
        width: 67%;
    }
  }
}
