@import "../../App.scss";

.cust-card {
    height: auto;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: inline-block;
    position: relative;
    border-radius: 8px;
    margin: 5vh auto;
    z-index: 800;
    &:hover {
        cursor: pointer;
        @include shadow;
    }
    .card-body-text {
        height: auto;
        min-height: 72px;
        width: 100%;
        padding: 1% 0;
        font-size: 16px;
        line-height: 72px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        text-align: center;
        word-wrap: normal;
        text-overflow: ellipsis;
        margin: 0 auto;
        @media only screen and (max-width: 500px) {
            min-height: 24px;
            line-height: 24px;
        }
    }
}