@import "../../App.scss";

.create-list {
    padding: 10px 0;
    width: 100%;
    margin: 0 auto;
    height: auto;
    border-radius: 8px;
    .create-list-header {
        font-size: 1rem;
        line-height: 1rem;
        text-align: center;
        color: $black;
        text-transform: uppercase;
    }
    .form-input {
        @include form-input;
        margin: 20px 12.5%;
        width: 75%;
    }
    .store-dropdown {
        margin: 20px 12.5%;
        width: 75%;
        transition: 0.5s;
        background: $white;
        color: $main-blue;
        height: 35px;
        border-radius: 8px;
        &:focus {
            outline: none;
            border-color: $secondary-blue;
        }
    }
}

@media only screen and(max-width: 450px) {
    .create-list {
        .store-dropdown, .form-input {
            margin: 20px 0;
            width: 100%;
        }
    }
}