@import "../../App.scss";

.loader {
    position: relative;
    margin: 15% 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    .face {
        position: absolute;
        &.face1 {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            box-shadow: 0 0 10px $white;
            border-radius: 50%;
            border-left: 2px solid $main-blue;
            border-top: 2px solid $main-blue;
            border-right: 2px solid rgba(255, 255, 255, 0);
            border-bottom: 2px solid rgba(255, 255, 255, 0);
            animation: animate 3s linear infinite;
        }
        &.face2 {
            top: 30px;
            left: 30px;
            right: 30px;
            bottom: 30px;
            box-shadow: 0 0 10px $white;
            border-radius: 50%;
            border-right: 2px solid rgb(214, 41, 194);
            border-bottom: 2px solid rgb(214, 41, 194);
            border-left: 2px solid rgba(255, 255, 255, 0);
            border-top: 2px solid rgba(255, 255, 255, 0);
            animation: animate 2s linear reverse infinite;
        }
        .circle {
            position: absolute;
            top: calc(50% - 1px);
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50%;
            height: 2px;
            transform-origin: left;
            &::before {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                top: -4px;
                right: -6px;
            }
        }
    }
}
.loader .face.face1 .circle {
    transform: rotate(-45deg);
    &::before {
        background: $main-blue;
        box-shadow: 0 0 20px $main-blue,
                    0 0 40px $main-blue,
                    0 0 60px $main-blue,
                    0 0 80px $main-blue,
                    0 0 100px $main-blue,
                    0 0 5px rgba(255, 255, 255, 0.1);
    }
}
.loader .face.face2 .circle {
    transform: rotate(-45deg);
    &::before {
        background: rgb(214, 41, 194);
        box-shadow: 0 0 20px rgb(214, 41, 194),
                    0 0 40px rgb(214, 41, 194),
                    0 0 60px rgb(214, 41, 194),
                    0 0 80px rgb(214, 41, 194),
                    0 0 100px rgb(214, 41, 194),
                    0 0 5px rgba(255, 255, 0, 0.1);
    }
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@media only screen and (max-width: 500px) {
    .loader {
        margin: 40% 50%;
    }
}