@import "../../App.scss";

.card-carousel {
    position: relative;
    width: 100%;
    height: -moz-calc(50% - 50px);
    height: -webkit-calc(50% - 50px);
    height: -o-calc(50% - 50px);
    height: calc(50% - 50px);
    border-top: 3px solid $black;
    border-bottom: 3px solid $black;
    & .card {
        transition: 0.5s;
        z-index: 1;
        &:nth-child(1) {
            transform: translateX(-170%);
            animation: one 15s linear 0s infinite normal forwards;
            &:hover {
                animation-play-state: paused;
                z-index: 2;
                cursor: pointer;
            }
        }
        &:nth-child(2) {
            transform: translateX(-313%);
            animation: two 15s linear 5.01s infinite normal forwards;
            &:hover {
                animation-play-state: paused;
                z-index: 2;
                cursor: pointer;
            }
        }
        &:nth-child(3) {
            transform: translateX(-456%);
            animation: three 15s linear 9.96s infinite normal forwards;
            &:hover {
                animation-play-state: paused;
                z-index: 2;
                cursor: pointer;
            }
        }
        &:nth-child(4) {
            transform: translateX(-170%);
            animation: one 15s linear 0s infinite reverse forwards;
            &:hover {
                animation-play-state: paused;
                z-index: 2;
                cursor: pointer;
            }
        }
        &:nth-child(5) {
            transform: translateX(-313%);
            animation: two 15s linear 5.01s infinite reverse forwards;
            &:hover {
                animation-play-state: paused;
                z-index: 2;
                cursor: pointer;
            }
        }
        &:nth-child(6) {
            transform: translateX(-456%);
            animation: three 15s linear 9.96s infinite reverse forwards;
            &:hover {
                animation-play-state: paused;
                z-index: 2;
                cursor: pointer;
            }
        }
    }
}
@keyframes one {
    0% {
        transform: translateX(-170%);
        opacity: 1;
    }
    74% {
        opacity: 1;
    }
    75% {
        transform: translateX(456%);
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        transform: translateX(-170%);
        opacity: 1;
    }
}
@keyframes two {
    0% {
        transform: translateX(-313%);
        opacity: 1;
    }
    74% {
        opacity: 1;
    }
    75% {
        transform: translateX(313%);
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        transform: translateX(-313%);
        opacity: 1;
    }
}
@keyframes three {
    0% {
        transform: translateX(-456%);
        opacity: 1;
    }
    74% {
        opacity: 1;
    }
    75% {
        transform: translateX(170%);
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        transform: translateX(-456%);
        opacity: 1;
    }
}