@import "../../App.scss";

.loading-bar {
  height: 20px;
  width: 50%;
  border: 2px solid $main-blue;
  border-radius: 8px;
  position: absolute;
  top: 25%;
  left: 50%;
  @include shadow;
  &.show {
    display: contents;
  }
  &.hide {
    display: none;
  }
  .inner-circle {
    height: 2rem;
    // margin: 0 auto;
    border-radius: 8px;
    border: 2px solid $white;
    line-height: 2rem;
    font-size: 1.5rem;
    text-align: center;
    color: $white;
    background: linear-gradient(-45deg, $orange, $pink, $purple, $main-blue, $green, $yellow);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
