@import "../../App.scss";

@mixin home-button($bgcolor) {
  width: 25%;
  height: 2.2rem;
  line-height: 2.2rem;
  font-size: 1.5rem;
  border-radius: 8px;
  border-width: 0;
  background-color: $bgcolor;
  color: $white;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 8px -1px rgba($black, 0.75);
  -moz-box-shadow: 0px 0px 8px -1px rgba($black, 0.75);
  box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.75);
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  &:active {
    -webkit-box-shadow: inset 0px 0px 8px -1px rgba($black, 0.75);
    -moz-box-shadow: inset 0px 0px 8px -1px rgba($black, 0.75);
    box-shadow: inset 0px 0px 8px -1px rgba(0, 0, 0, 0.75);
    background: $white;
    color: $black;
    transform: scale(0.98);
  }
}

.home {
  background: $main-blue;
  min-height: 75vh;
  height: auto;
  width: 90vw;
  margin-top: 10vh;
  padding: 5% 5% 0 5%;
  display: flex;
  justify-content: center;
  flex-basis: auto;
  -webkit-box-shadow: 0px 7px 9px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 9px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 7px 9px -1px rgba(0, 0, 0, 0.75);
  .home-section {
    width: 40%;
    height: 60vh;
    background: $main-blue;
    border-radius: 8px;
    color: $white;
    &:first-child {
      margin-right: 10%;
    }
    &:last-child {
      margin-left: 10%;
    }
    -webkit-box-shadow: 0 5rem 5rem rgba(#2f3338, 0.4);
    -moz-box-shadow: 0 5rem 5rem rgba(#2f3338, 0.4);
    box-shadow: 0 5rem 5rem rgba(#2f3338, 0.4);
    -webkit-animation: bounce-in-top 2s both;
    animation: bounce-in-top 2s both;
    @-webkit-keyframes bounce-in-top {
      0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
      }
      38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
      }
      55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
      }
      72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
      }
      81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
      }
      90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
      }
      95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
      }
      100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
      }
    }
    @keyframes bounce-in-top {
      0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
      }
      38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
      }
      55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
      }
      72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
      }
      81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
      }
      90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
      }
      95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
      }
      100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
      }
    }
    .content {
      height: 100%;
      width: 100%;
      margin: 0 auto;
      z-index: 1001;
      header {
        width: 100%;
        height: 5vh;
        line-height: 5vh;
        text-align: center;
        font-size: 1.5rem;
      }
      .header-section {
        width: 100%;
        height: 20vh;
        header {
          width: 100%;
          height: 7.5vh;
          line-height: 7.5vh;
          text-align: center;
          &:first-child {
            font-size: 1.5rem;
          }
          &:last-child {
            font-size: 1.25rem;
          }
        }
      }
      #new-user-section,
      #existing-user,
      #privacy-section {
        display: flex;
        justify-content: space-evenly;
        flex-basis: auto;
      }
      #new-user-section {
        width: 100%;
        height: 10vh;
        #form-input {
          width: 50%;
          @include form-input;
        }
        #submit-new-user {
          @include home-button($pink);
        }
      }
      #existing-user {
        p {
          text-align: center;
          height: 2.2rem;
          line-height: 2.2rem;
          font-size: 1.5rem;
        }
        #login-exisiting-user {
          @include home-button(rgb(4, 104, 205));
        }
      }
      #privacy-section {
        margin-top: 10vh;
        p {
          text-align: center;
          height: 2.2rem;
          line-height: 2.2rem;
          font-size: 1rem;
        }
        #view-privacy {
          @include home-button($purple);
        }
      }
      #highlight-section {
        margin: 0 auto;
        width: 80%;
        height: 50vh;
      }
      .direction-section {
        display: flex;
        justify-content: space-evenly;
        flex-basis: auto;
        height: 5vh;
        .direction-button {
          width: 25%;
          height: 75%;
          border-radius: 8px;
          border-width: 0;
          color: $white;
          background-color: $purple;
          transition: 0.3s;
          -webkit-box-shadow: 0px 0px 8px -1px rgba($black, 0.75);
          -moz-box-shadow: 0px 0px 8px -1px rgba($black, 0.75);
          box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.75);
          &.orange {
            background-color: $orange;
          }
          &.grey {
            background-color: grey;
          }
          &:hover {
            cursor: pointer;
          }
          &:focus {
            outline: none;
          }
          &:active {
            box-shadow: inset 0px 0px 8px -1px rgba(0, 0, 0, 0.75);
            background: $white;
            color: $black;
            transform: scale(0.98);
          }
        }
      }
    }
  }
}
