@import "../../App.scss";

.create-list {
  padding: 10px 0;
  width: 100%;
  margin: 0 auto;
  height: auto;
  border-radius: 8px;
  .create-list-header {
    height: 2rem;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
    color: $black;
    text-transform: uppercase;
    width: 50%;
    margin: 0 auto;
    transition: 0.3s;
    &.list-name {
      &:hover {
        cursor: pointer;
        background: $main-blue;
        color: $white;
        border-radius: 8px;
      }
    }
  }
  .form-input {
    @include form-input;
    margin: 20px 12.5%;
    width: 75%;
  }
  .store-dropdown {
    margin: 20px 12.5%;
    width: 75%;
    transition: 0.5s;
    background: $white;
    color: $main-blue;
    height: 35px;
    border-radius: 8px;
    &:focus {
      outline: none;
      border-color: $secondary-blue;
    }
  }
}
.create-add-store {
  width: 75%;
  margin: 0 auto;
  border-radius: 8px;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  background: $main-blue;
  color: $white;
  text-align: center;
  animation: flash 1.5s ease 0s infinite normal forwards;
  @keyframes flash {
    0% {
      background: $main-blue;
      color: $white;
    }
    50% {
      background: $white;
      color: $main-blue;
    }
    100% {
      background: $main-blue;
      color: $white;
    }
  }
}
@media only screen and(max-width: 450px) {
  .create-list {
    .store-dropdown,
    .form-input {
      margin: 20px 0;
      width: 100%;
    }
  }
}
