@import "../../App.scss";

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: $main-blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    z-index: 1000;
    @include shadow;
}
.nav-items {
    width: 33.33vw;
    text-align: right;
    font-size: 1vw;
}
.app-text {
    width: 33.33vw;
    margin-right: auto;
    text-align: center;
    font-family: "Parisienne", cursive, sans-serif;
    height: 10vh;
    line-height: 10vh;
    font-size: 6vh;
    &:hover {
        cursor: pointer;
    }
}
.burger-menu {
    // position: fixed;
    right: 10px;
    // top: 20%;
    padding-right: 10px;
    display: inline-block;
    .bar1,
    .bar2,
    .bar3 {
        width: 3.5rem;
        height: 0.5rem;
        background-color: $white;
        margin: 6px 0;
        transition: 0.3s;
    }
    &:hover {
        cursor: pointer;
    }
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-1rem, 0.5rem);
    transform: rotate(-45deg) translate(-1rem, 0.5rem);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-0.7rem, -0.2rem);
    transform: rotate(45deg) translate(-0.7rem, -0.2rem);
}
.notification-section {
    position: fixed;
    overflow: auto;
    display: inline-block;
    right: 4.7rem;
    top: 2.7%;
    &:hover {
        cursor: pointer;
    }
    .notification-bell {
        height: 2.2rem;
        width: 2.2rem;
        fill: $white;
    }
    .notification {
        position: fixed;
        right: 4.4rem;
        top: 2%;
        height: 1rem;
        width: 1rem;
        line-height: 1rem;
        font-size: 0.5rem;
        border-radius: 50%;
        border: 1px solid $white;
        text-align: center;
        background: $main-blue;
        color: $white;
        animation: pop-up 0.5s ease 0s 1 normal forwards;
        @keyframes pop-up {
            0% {
                transform: scale(0.8);
                background: $white;
                color: $main-blue;
            }
            75% {
                transform: scale(1.15);
            }
            100% {
                transform: scale(1);
                background: $main-blue;
                color: $white;
            }
        }
    }
}
.pwa-modal {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 975;
    .modal-content {
        background: $white;
        position: fixed;
        z-index: 975;
        left: 15%;
        top: 25%;
        width: 70%;
        // height: 500px;
        max-height: 70%;
        // border: 3px solid pink;
        .message {
            margin-top: 15%;
            text-align: center;
            color: $black;
        }
        .button-section {
            width: 100%;
            height: auto;
            margin-bottom: 5%;
        }
    }
    .logo-section {
        position: fixed;
        width: 100vw;
        top: 15%;
        z-index: 976;
        .logo {
            width: 10%;
            border-radius: 8px;
            left: 50%;
            transform: translate(450%, 25%);
            @include shadow;
        }
    }
}
@media only screen and (max-width: 750px) {
    .pwa-modal {
        .logo-section {
            .logo {
                transform: translate(450%, 45%);
            }
        }
    }
}
@media only screen and (max-width: 500px) {
    .pwa-modal {
        .modal-content {
            left: 0%;
            top: 15%;
            width: 100%;
            .message {
                margin-top: 25%;
            }
        }
        .logo-section {
            .logo {
                width: 25%;
                transform: translate(150%, -20%);
            }
        }
    }
}
