@import "../../App.scss";

.list-headers {
    width: 75%;
    background: $white;
    color: $main-blue;
    margin: 2% 12.5% 0 12.5%;
    display: inline-flex;
    .list-header-col {
        width: 16.67%;
        padding: 0 5px;
        overflow: scroll;
        text-transform: capitalize;
        height: 2rem;
        line-height: 2rem;
        font-size: 1rem;
        text-align: center;
        border: 1px solid rgba(255, 255, 255, 0);
        transition: 0.3s;
        &:first-child {
            width: 33.33%;
            @media only screen and(max-width: 500px) {
                padding: none;
                width: 50vw;
            }
        }
        &:nth-child(2) {
            width: 33.33%;
            @media only screen and(max-width: 500px) {
                padding: none;
                width: 30vw;
            }
        }
        &:nth-child(3) {
            @media only screen and(max-width: 500px) {
                padding: none;
                width: 20vw;
            }
        }
        &:last-child {
            @media only screen and(max-width: 500px) {
                display: none;
            }
        }
        &.hover {
            &:hover {
                border: 1px solid $main-blue;
                border-radius: 8px;
            }
        }
    }
    @media only screen and(max-width: 500px) {
        width: 100%;
        margin: 0 auto;
    }
}
