@import "../../App.scss";

.list-headers {
    width: 75%;
    background: $white;
    color: $main-blue;
    margin: 2% 12.5% 0 12.5%;
    display: inline-flex;
    .list-header-col {
        width: 33.33%;
        padding: 0 5px;
        overflow: scroll;
        text-transform: capitalize;
        font-size: 0.8rem;
        text-align: center;
        &:nth-child(2n) {
            text-align: center;
            width: 33.34%;
        }
        .sub-head {
            display: inline-flex;
            margin-top: 0;
            width: 50%;
            text-align: center;
        }
    }
    @media only screen and(max-width: 450px) {
        width: 100%;
        margin: 0 auto;
    }
}
