@import "../../App.scss";

.notification-list {
    position: fixed;
    right: 0;
    top: 10%;
    overflow: scroll;
    height: auto;
    max-height: 70vh;
    width: 35%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-transform: capitalize;
    color: $black;
    z-index: 950;
    .notification {
        position: relative;
        width: 100%;
        min-height: 14.5vh;
        padding-top: 3vh;
        border-bottom: 1px solid $secondary-blue;
        .notification-image {
            width: 12%;
            height: 2rem;
            line-height: 2rem;
            font-size: 16px;
            float: left;
            text-align: center;
            margin: 2%;
            background: $main-blue;
            color: $white;
            border-radius: 50%;
            border: 1px solid $white;
            text-transform: uppercase;
            &:hover {
                cursor: default;
            }
        }
        .notification-content {
            width: 60%;
            float: left;
            text-align: center;
            margin: 2.5%;
            text-overflow: ellipsis;
            display: inline-block;
            font-size: 1rem;
            line-height: 1rem;
            text-align: center;
            .note-content-section {
                width: 100%;
            }
            .gray-text {
                color: gray;
            }
            &:hover {
                cursor: pointer;
            }
        }
        .icon {
            display: inline-block;
            padding-top: 10px;
            height: 20px;
            width: 20px;
            fill: $white;
            &:hover {
                cursor: pointer;
            }
        }
        .icon-read {
            display: inline-block;
            padding-top: 10px;
            height: 20px;
            width: 20px;
            fill: $black;
            &:hover {
                cursor: pointer;
            }
        }
        &:last-child {
            border-bottom: none;
        }
    }
    .unread {
        background: rgb(170, 201, 242);
        .delete-notification {
            color: $white;
        }
    }
    .read {
        background: $white;
    }
}
@media only screen and(max-width: 850px) {
    .notification-list {
        width: 75%;
    }
}
@media only screen and(max-width: 500px) {
    .notification-list {
        width: 100%;
    }
}
