@import "../../App.scss";

.extended-card {
    width: 100vw;
    height: auto;
    max-height: 80vh;
    border-radius: 8px;
    .ext-card-header {
        width: calc(100vw - 6px);
        height: 10vh;
        border-radius: inherit;
        text-align: center;
        line-height: 10vh;
        font-size: 2rem;
    }
    .ext-card-image {
        width: 100vw;
        // height: 70%;
        margin: 0 auto;
        // padding: 5% 0;
        display: block;
    }
}