$black: var(--primary-color);
$white: var(--secondary-color);
// $black: #2F3338;
// $white: #F9FCFF;
$main-blue: var(--main-blue);
// $main-blue: #3C91E6;
$secondary-blue: #5695D3;
$green: rgb(17, 140, 17);
$red: rgb(159, 20, 20);
$yellow: rgb(222, 187, 48);
$pink: rgb(214, 41, 194);
$orange: rgb(214, 107, 41);
$purple: rgb(107, 41, 214);

@mixin shadow {
    -webkit-box-shadow: 0px 3px 2px -2px rgba(47,51,56,0.64);
    -moz-box-shadow: 0px 3px 2px -2px rgba(47,51,56,0.64);
    box-shadow: 0px 3px 2px -2px rgba(47,51,56,0.64);
}
@mixin large-font {
    font-size: 5vw;
    white-space: nowrap;
}
@mixin page-defaults {
    height: 90vh;
    overflow: scroll;
    width: auto;
}
@mixin form-input {
    border: 3px solid $black;
    height: 25px;
    border-radius: 8px;
    transition: 0.3s;
    background: $white;
    color: $black;
    &:focus {
        outline: none;
        border-color: $main-blue;
    }
}
body {
    color: $white;
    background-color: $white;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: $white;
    &:hover {
        text-decoration: none;
        color: $white;
    }
}
.error {
    color: $red;
}