@import "../../App.scss";

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: $main-blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    z-index: 1000;
    @include shadow;
}
.nav-items {
    width: 33.33vw;
    // flex-direction: column;
    // margin-left: auto;
    // padding: 25px;
    text-align: right;
    font-size: 1vw;
    // &:first-child {
    //     margin-right: auto;
    //     visibility: hidden;
    // }
}
.app-text {
    width: 33.33vw;
    margin-right: auto;
    text-align: center;
    font-family: 'Parisienne', cursive, sans-serif;
    &:hover {
        cursor: pointer;
    }
}
.burger-menu {
    padding-right: 10px;
    display: inline-block;
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: $white;
        margin: 6px 0;
        transition: 0.3s;
    }
    &:hover {
        cursor: pointer;
    }
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}  
.change .bar2 {
    opacity: 0;
}  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}